/* Global styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 4.5rem;
    margin-bottom: 5%;
}

.endInfo h1{
    margin-bottom: 2%;
}

h3 {
    font-size: 3.0rem;
    font-weight: 500;
}

/* Top section of page */
.topBar, .quizTopBar, .endTopBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5%;
    font-size: 2.5rem;
    padding: 2% 2%;
}

/* Info on middle of page */
.intro-exp, .answersList {
    font-size: 4.0rem;
    justify-content: center;
    list-style: none;
}

.quizInfo {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80rem;
    margin: 5% 25%;
    /* padding: 2rem; */
}

.endInfo {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80rem;
    margin: .5% 30%;
    padding: 2rem;
}

.submitInfo {
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    max-width: 80rem;
    margin: 0 31%;
    /* padding: 2rem; */
}

/* Li styling for questions */
li {
    text-align: left;
    font-size: 3.0rem;
}

li:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.05);
}

/* Quiz explanation */
.introInfo {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    max-width: 80rem;
    margin: 5% 25%;
    padding: 2rem;
}

/* Buttons */
.startBtn, .clearBtn {
    display: flex;
    font-size: 2.5rem;
    padding: 1rem 0;
    width: 15rem;
    justify-content: center;
    margin-top: 3%;
    color: white;
    background-color: darkblue;
    border-radius: 5px;
    text-decoration: none;
}

.submitBtn {
    display: flex;
    font-size: 2.5rem;
    /* padding: 1rem 0; */
    width: 15rem;
    justify-content: center;
    /* margin-top: 3%; */
    color: white;
    background-color: darkblue;
    border-radius: 5px;
    text-decoration: none;
}

.startBtn:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.05);
}

/* Input Box */
.input {
    height: 33px;
    width: 30%;
    display: inline-block;
    font-size: 25px;
}

/* High scores page */

.goBack {
    font-size: large;
    margin-bottom: 2%;
}

.text {
    font-size: large;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80rem;
    margin: .5% 30%;
    padding: 2rem;
}

.text h1 {
    margin-bottom: 1%;
}
